<div class="row">
<%= javascript_tag do %>
  window.events = '<%= raw @events.to_json %>';
<% end %>

  <% @events.each do |event| %>
    <%= render partial: "card", locals: { event: event } %>
  <% end %>
</div>